In [1]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib as mpl
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv('./data./train.csv')
test_df = pd.read_csv('./data./test.csv')

In [3]:
df.index

RangeIndex(start=0, stop=5872, step=1)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5872 entries, 0 to 5871
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5872 non-null   object
 1   추석까지 남은 기간(주)  5872 non-null   int64
 2   쇼핑몰 구분         5872 non-null   object
 3   가격(원)          5872 non-null   int64
 4   프로모션 여부        5872 non-null   int64
 5   도시 유형          5872 non-null   object
 6   지역 유형          5872 non-null   object
 7   쇼핑몰 유형         5872 non-null   object
 8   선물 유형          5872 non-null   object
 9   수요량            5872 non-null   int64
dtypes: int64(4), object(6)
memory usage: 458.9+ KB

In [5]:
df.head()

,ID,추석까지 남은 기간(주),쇼핑몰 구분,가격(원),프로모션 여부,도시 유형,지역 유형,쇼핑몰 유형,선물 유형,수요량
0,TRAIN_0000,1,쇼핑몰 15,212000,0,도시 6,지역 1,쇼핑몰 유형 2,명절혼합과일선물세트,28
1,TRAIN_0001,2,쇼핑몰 72,113000,0,도시 21,지역 1,쇼핑몰 유형 1,발효홍삼선물세트,27
2,TRAIN_0002,0,쇼핑몰 15,67000,0,도시 6,지역 1,쇼핑몰 유형 2,실속스팸선물세트,769
3,TRAIN_0003,1,쇼핑몰 13,206000,0,도시 12,지역 3,쇼핑몰 유형 1,자연산프리미엄버섯선물세트,27
4,TRAIN_0004,1,쇼핑몰 65,140000,0,도시 16,지역 2,쇼핑몰 유형 2,자연산새우선물세트,337

In [6]:
test_df.head()

,ID,추석까지 남은 기간(주),쇼핑몰 구분,가격(원),프로모션 여부,도시 유형,지역 유형,쇼핑몰 유형,선물 유형
0,TEST_0000,2,쇼핑몰 71,113000,0,도시 16,지역 3,쇼핑몰 유형 1,상주반건시곶감선물세트
1,TEST_0001,0,쇼핑몰 57,224000,0,도시 6,지역 1,쇼핑몰 유형 2,고급한과선물세트
2,TEST_0002,2,쇼핑몰 38,150000,0,도시 16,지역 1,쇼핑몰 유형 2,최고의선택스팸선물세트
3,TEST_0003,1,쇼핑몰 50,132000,0,도시 16,지역 3,쇼핑몰 유형 1,재래김특선세트
4,TEST_0004,0,쇼핑몰 55,146000,0,도시 5,지역 4,쇼핑몰 유형 2,명품샤인머스캣선물세트

In [7]:
cols = ['쇼핑몰 구분', '도시 유형', '지역 유형', '쇼핑몰 유형', '선물 유형']

In [8]:
for col in cols:
    print(col, len(df[col].unique()))

쇼핑몰 구분 77
도시 유형 24
지역 유형 8
쇼핑몰 유형 3
선물 유형 51

In [9]:
for col in cols:
    print(col, len(test_df[col].unique()))

쇼핑몰 구분 77
도시 유형 24
지역 유형 8
쇼핑몰 유형 3
선물 유형 51

In [10]:
from sklearn.compose import make_column_transformer

encoder = OneHotEncoder(sparse=False)
encoded_data = encoder.fit_transform(df[['쇼핑몰 구분']])

# transformer = make_column_transformer(
#     (OneHotEncoder(), ['쇼핑몰 구분']),
#      remainder='passthrough'
# )

# trans_data = transformer.fit_transform(df)

# trans_df = pd.DataFrame(data=trans_data.toarray(),columns=transformer.get_feature_names_out())

trans_df

ValueError: For a sparse output, all columns should be a numeric or convertible to a numeric.

In [11]:
category_cols = ['쇼핑몰 구분', '도시 유형', '지역 유형', '쇼핑몰 유형', '선물 유형']

encoder = OneHotEncoder(sparse=False)

encoded_data = []

for col in category_cols:
    encoded_col = encoder.fit_transform(df[[col]])
    col_names = encoder.get_feature_names_out([col])
    encoded_df = pd.DataFrame(encoded_col, columns=col_names)
    encoded_data.append(encoded_df)

final_df = pd.concat([df] + encoded_data, axis=1)

final_df

C:\Users\navyb\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\navyb\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\navyb\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\navyb\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\navyb\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,ID,추석까지 남은 기간(주),쇼핑몰 구분,가격(원),프로모션 여부,도시 유형,지역 유형,쇼핑몰 유형,선물 유형,수요량,...,선물 유형_프리미엄견과선물세트,선물 유형_프리미엄고당도샤인머스캣선물세트,선물 유형_프리미엄올리브유선물세트,선물 유형_프리미엄왕곶감선물세트,선물 유형_프리미엄종합스팸선물세트,선물 유형_프리미엄특선스팸선물세트,선물 유형_프리미엄한과선물세트,선물 유형_프리미엄한우선물세트,선물 유형_한과종합선물세트,선물 유형_행복스팸선물세트
0,TRAIN_0000,1,쇼핑몰 15,212000,0,도시 6,지역 1,쇼핑몰 유형 2,명절혼합과일선물세트,28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,TRAIN_0001,2,쇼핑몰 72,113000,0,도시 21,지역 1,쇼핑몰 유형 1,발효홍삼선물세트,27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,TRAIN_0002,0,쇼핑몰 15,67000,0,도시 6,지역 1,쇼핑몰 유형 2,실속스팸선물세트,769,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,TRAIN_0003,1,쇼핑몰 13,206000,0,도시 12,지역 3,쇼핑몰 유형 1,자연산프리미엄버섯선물세트,27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,TRAIN_0004,1,쇼핑몰 65,140000,0,도시 16,지역 2,쇼핑몰 유형 2,자연산새우선물세트,337,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5867,TRAIN_5867,2,쇼핑몰 46,225000,0,도시 16,지역 3,쇼핑몰 유형 1,고급한과선물세트,27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5868,TRAIN_5868,2,쇼핑몰 42,62000,0,도시 16,지역 4,쇼핑몰 유형 3,특선스페셜스팸선물세트,40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5869,TRAIN_5869,2,쇼핑몰 43,131000,0,도시 5,지역 4,쇼핑몰 유형 1,명품맛김선물세트,55,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5870,TRAIN_5870,2,쇼핑몰 7,85000,0,도시 7,지역 1,쇼핑몰 유형 1,실속형견과류선물세트,231,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5871,TRAIN_5871,0,쇼핑몰 58,79000,0,도시 16,지역 1,쇼핑몰 유형 1,건강담은견과류선물세트,148,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
shopping_mall_col = final_df['쇼핑몰 구분']
shopping_mall_col

0       쇼핑몰 15
1       쇼핑몰 72
2       쇼핑몰 15
3       쇼핑몰 13
4       쇼핑몰 65
         ...
5867    쇼핑몰 46
5868    쇼핑몰 42
5869    쇼핑몰 43
5870     쇼핑몰 7
5871    쇼핑몰 58
Name: 쇼핑몰 구분, Length: 5872, dtype: object

In [14]:
column_check = '쇼핑몰 구분_쇼핑몰'

shopping_mall_encheck = final_df.filter(like=column_check)

shopping_mall_encheck

,쇼핑몰 구분_쇼핑몰 1,쇼핑몰 구분_쇼핑몰 10,쇼핑몰 구분_쇼핑몰 11,쇼핑몰 구분_쇼핑몰 12,쇼핑몰 구분_쇼핑몰 13,쇼핑몰 구분_쇼핑몰 14,쇼핑몰 구분_쇼핑몰 15,쇼핑몰 구분_쇼핑몰 16,쇼핑몰 구분_쇼핑몰 17,쇼핑몰 구분_쇼핑몰 18,...,쇼핑몰 구분_쇼핑몰 70,쇼핑몰 구분_쇼핑몰 71,쇼핑몰 구분_쇼핑몰 72,쇼핑몰 구분_쇼핑몰 73,쇼핑몰 구분_쇼핑몰 74,쇼핑몰 구분_쇼핑몰 75,쇼핑몰 구분_쇼핑몰 76,쇼핑몰 구분_쇼핑몰 77,쇼핑몰 구분_쇼핑몰 8,쇼핑몰 구분_쇼핑몰 9
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5870,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5871,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0